<?php

// Database connection details
define('DB_DSN', 'mysql:host=localhost;dbname=afranco_fetchproxy');
define('DB_USER', 'testuser');
define('DB_PASS', 'testpassword');

// Number of minutes between fetches of each feed
define('DEFAULT_TTL', 60);

// Number of minutes between runs of cron.php
// The BATCH_FREQUENCY will be combined with the DEFAULT_TTL to determine the maximum
// number of feeds to fetch. This maximum will help ensure that fetching gets distributed
// somewhat evenly.
define('BATCH_FREQUENCY', 10);

// Number of fetches before an error response is returned to the client
define('MAX_NUM_ERRORS', 10);

// If the feed hasn't been accessed for this long, delete it and stop fetching.
// This value should be a valid MYSQL interval, e.g. '30 DAY'
define('MAX_LIFE_WITHOUT_ACCESS', '30 DAY');

// Define a user agent for FetchProxy. It would be good to point it at a page describing
// your service
// define('USER_AGENT', 'FetchProxy http://fetchproxy.example.com/about.html');

// Define a list of allowed client IP addresses.
// There is no other security built into this system, so to prevent unauthorized
// clients from serving unsafe content from your domain, please define an array of
// allowed IP address that can use this service or a list of proxies.
$allowedClients = array(
// 	'127.0.0.1',
);

// Define a chain of proxy servers/client that are allowed to access this service.
// Each definition is a regular expression. As defined in the X-Forwarded-For
// spec, the last entry in the list is the proxy closest to the server and the first
// entry is the original client. Be sure not to be too open-ended in what you allow.
$allowedProxyChains = array(
// '/^140.233.2.70, 140.233.2.6$/',
);
